<div class="bg-light py-5 mt-4">
  <div class="contenu mx-auto py-2 w-75">
    <form  class="form-goup contact-form ">
  <h1 class="title">Modifier mes informations </h1>
  <div class="container w-75  justify-content-center mt-5 mb-5 ">
    <div class="row">
      <div class="col-md-5 mb-3">
        <label for="prenom" class="form-label">*Prénom</label>
        <input type="email" formControlName="prenom" class="input-text" id="prenom" placeholder="prénom" required>
      </div>
      <div class="col-md-5 mb-3">
        <label for="nom" class="form-label">*Nom</label>
        <input type="text" formControlName="nom" class="input-text" id="nom" placeholder="nom">
      </div>
      <div class="col-md-2 mb-3">
        <label for="age" class="form-label">Age </label>
        <input type="number" formControlName="age" class="input-text" id="age" min="1" placeholder="45">
      </div>
    </div>

    <div class="col-md-5 mb-3 form-check">
      <input class="form-check-input"  formControlName="hide"  type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Hide email
      </label>
    </div>
    <div class="col-md-5 mb-3" >
      <label for="age" class="form-label">*Email</label>
      <input   formControlName="email"  class="input-text" id="email" placeholder="name@gmail.com" >
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">*Commentaires</label>
      <textarea class="form-control" formControlName="commentaire"  id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <input type="submit" class="btn"  value="Modifier"  >
  </div>

</form>
  </div>
</div>
