.customLink>a{
  text-decoration:none;
  color:#232323
}
.customLink>a:hover{
  text-decoration:none;
  color:green
}
#circleIcon{
  width:60px;
  height:60px;
  line-height:60px;
  border:2px dotted #232323;
  border-radius:100%;
  text-align:center
}
