<div class="row text-center align-items-center g-0 pt-5">
  <div class="col-lg-5 col-md-5 d-none d-lg-block d-md-block d-xs-none ms-auto">
    <div class="d-flex justify-content-around border-top border-bottom border-dark">
      <div class="customLink"><a class="d-inline-block p-3" href="#">Home</a></div>
      <div class="customLink"><a class="d-inline-block p-3" href="#">Product</a></div>
      <div class="customLink"><a class="d-inline-block p-3" href="#">Pricing</a></div>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 mx-auto" style="max-width:120px">
    <img src="src/logo.png">
  </div>
  <div class="col-lg-5 col-md-5 d-none d-lg-block d-md-block d-xs-none me-auto">
    <div class="d-flex justify-content-around border-top border-bottom border-dark">
      <div class="customLink"><a class="d-inline-block p-3" href="#">Company</a></div>
      <div class="customLink"><a class="d-inline-block p-3" href="#">Services</a></div>
      <div class="customLink"><a class="d-inline-block p-3" href="#">Contact Us</a></div>
    </div>
  </div>
</div>
