.footer{
  background-color: #deded5;
}

.footerh5{
  letter-spacing: 2px;
  color: #818963;
}

.links{
  color: #4f4f4f;
}

.tf{
  color: #4f4f4f;
  border-color: #666;
}

.endFooter{
  background-color: rgba(0, 0, 0, 0.2);
}

footer{
  width: 100%;
  position: fixed;
  bottom : 0;
}


