<div class=" bg-light" *ngIf="list_lieu">

  <div class="w-75 mx-auto py-5 container">
    <div class="card-group row row-cols-3">

      <div *ngFor=" let data of list_lieu.slice(0,5) " class="col">
        <div  class="card m-3">
          <a class="not_a" href="/lieu/{{data.id}}/">
            <img class="card-img-top" src="{{data.image}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{data.name}}</h5>
              <p class="card-text black">{{data.ville}}</p>
              <p class="card-text"><small class="text-muted"><a class="black" href="{{data.wiki}}" >Wikipédia</a></small></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
