<div class=" bg-light" *ngIf="list_lieu">

  <div class="w-75 mx-auto py-5 container">
    <div class="card-group row row-cols-3">

      <div *ngFor=" let data of list_lieuNote.slice(0,5) " class="col w-100">
        <div  class="card m-3">
          <a class="not_a" href="/lieu/{{data.id}}/">
            <div class="card-body">
              <h5 class="card-title">{{data.name}}</h5>
    <p> {{data.note}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
